textarea{
    width: 100%;
    height: 150px;
    resize: vertical;

}

.form{
font-weight: bold;
display: block;

}

#button:hover{
    background-color: rgb(127, 233, 171);
}

legend{
    text-align: center;
    font-weight: bolder;
text-shadow: cornflowerblue;
font-size: 40px;
}

form{
    margin:0 auto;
    background-color: lemonchiffon;
    color: black;
    box-shadow: cornflowerblue;
    font-family: sans-serif;
}









