h1{
font-weight: bold;
text-align: center;
font-size: 40px;
}

hr{
    color: lightblue;
}

h3{
    color: rgb(223, 111, 59);
}

#location{
    font-style: italic;
}

img{
    margin-left: 45%;
    background-color:antiquewhite;
}

body{
    background-color: antiquewhite;
    margin-left: 60px;
}

