#main{
    display: flex;
}


img{
    max-width: 100%;
    height: 30%;
    display: block;
    background-color: beige;
    margin-right: 30px;
    padding: 30px;
    border-radius: 40px;
}

h1:hover{
    color: aquamarine;
    background-color: black;
}

.taxis{
background-color: cornflowerblue;
border-radius: 40px;
margin-right: 40px;
}

.taxis:hover{
    background-color: rgb(207, 93, 93);
    color: rgb(34, 139, 113);
}


